img {
    height: 200px;
    width: 500px;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px 3px black;
}
body {
    background-color: tan;
    margin: 0
}
div {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
#quest-title {
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid black;
    padding: 10px;
    background-color:brown;
    color: white;
}
span {
    padding-right: 10px;
    margin:auto;
    font-size: 20px;
    font-weight: bolder;
}
.hidden {
    display:none;
}
#results-span {
    padding: 20px;
}
#quest-question {
    border: 2px solid black;
    padding: 30px;
    background-color: brown;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    margin: 20px;
}
header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}
button {
    box-shadow: 3px 3px 3px 0px black;
    margin-right: 5px;
}
a {
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    color: blue;
}