.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:flex-start;
}
#results-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 2rem;
    margin: 30px;
}
#heading {
    margin:auto;
}
span {
    border: 2px solid black;
    height: 80px;
    background-color: brown;
    font-family: cursive;
    text-align: center;
    margin: 30px;
}
a {
    text-decoration: none;
    font-size: 30px;
    color:whitesmoke;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 20px;
}
.win {
    height: 300px;
}
.loss {
    height: 300px;
    width: 300px;
    margin: auto;
}