
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    background-color: tan;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
#user-form {
    display: flex;
    flex-direction: row;
}
#submit {
    border-radius: 5px 5px 5px 5px;
    margin-left: 10px;
    box-shadow: 5px 5px 5px 0px;
    cursor: pointer;
}
label {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background-color: brown;
    font-weight:900;
    box-shadow: 2px 2px 2px 2px gray;
}
label:hover {
    cursor: pointer;
}
p {
    font-weight: bolder;
    margin: 20px 20px 20px 0px;
    font-size: 25px;
}
input[type="radio"] {
    display: none;
}
#user-form input[type="radio"]:checked + label {
    border: 5px solid white;
}
img {
    height: 40px;
    margin: 5px;
}